################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Everest_Engineering_App/v17
/CourierService/.vs/CourierService
/CourierService/bin/Debug/net8.0
/CourierService/obj
*.json
/CourierService/.vs/ProjectEvaluation
/CourierService.Tests/bin/Debug/net8.0
/CourierService.Tests/obj
