################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Everest_Engineering_App/v17
/CourierService/.vs/CourierService
/CourierService/bin/Debug/net8.0
/CourierService/obj
/CourierService.Tests
*.json
/CourierService/.vs/ProjectEvaluation
